{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница абитуриента</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
<h1>Анкета абитуриента 2022</h1>

<hr>

<form action="/addabit/" method = "post">
    {% csrf_token %}
    <h1>Основные сведения</h1>
    <hr>
    <h3>В данном разделе заполняется основная информация об абитуриенте</h3>
 <h4>1. Фамилия абитуриента</h4>
    <textarea required name="surname" cols="40" rows="2"></textarea>

 <h4>2. Имя абитуриента</h4>
    <textarea required name="name" cols="40" rows="2"></textarea>

 <h4>3. Отчество абитуриента</h4>
    <textarea required name="patronymic" cols="40" rows="2"></textarea>
 <h4>4. Пол</h4>
    <input list="gender" placeholder="Пол"  name="gender">
    <datalist id="gender">
    <option>М</option>
    <option>Ж</option>
   </datalist>
 <h4>5. Дата рождения</h4>
    <input type="date" placeholder="Дата рождения" name="birthdate">
 <h4>6. Предыдущее место обучения</h4>
    <textarea required name="oldschool" cols="40" rows="2"></textarea>
    <hr>
    <h1>Дополнительная информация об абитуриенте</h1>
    <hr>
    <h3>Информация об адресе проживания и контактных данных абитуриента</h3>
  <h4>7. Номер телефона</h4>
    <input type="tel" placeholder="Телефон" name="phone">
 <h4>8. Адрес электронной почты</h4>
    <input type="email" placeholder="E-mail" name="email">
 <h4>9. Адрес проживания</h4>
    <textarea required name="sity" placeholder="Город" cols="20" rows="1"></textarea>
    <textarea required placeholder="Улица" name="street" cols="20" rows="1"></textarea>
    <textarea required placeholder="Дом" name="house" cols="20" rows="1"></textarea>
    <textarea placeholder="Корпус" name="housing" cols="20" rows="1"></textarea>
    <textarea placeholder="Квартира" name="flat" cols="20" rows="1"></textarea>

 <h4>10. Необходимость в общежитии</h4>
    <input list="hostel" placeholder="Необходимость в общежитии" name="hostel">
    <datalist id="hostel">
    <option>Да</option>
    <option>Нет</option>
    </datalist>
 <h4>11. Наличие льгот</h4>
 <input list="social_benefits" placeholder="Наличие льгот" name="social_benefits">
    <datalist id="social_benefits">
    <option>Многодетная семья</option>
    <option>Другое</option>
    </datalist>
    <hr>
    <h1>Сведения о родителях</h1>
    <hr>
    <h3>В данном разделе вносится информация о родителях(законных представителях) абитуриента</h3>
    <h3>Мать</h3>
 <h4>12. Фамилия</h4>
    <textarea required placeholder="Фамилия" name="mother_surname" cols="40" rows="2"></textarea>
 <h4>13. Имя</h4>
    <textarea required placeholder="Имя" name="mother_name" cols="40" rows="2"></textarea>
 <h4>14. Отчество</h4>
    <textarea required placeholder="Отчество" name="mother_patronymic" cols="40" rows="2"></textarea>
 <h4>15. Место работы</h4>
    <textarea placeholder="Место работы" name="mother_job" cols="40" rows="2"></textarea>
 <h4>16. Должность</h4>
    <textarea placeholder="Должность" name="mother_job_post" cols="40" rows="2"></textarea>
 <h4>17. Номер телефона</h4>
    <input type="tel" placeholder="Телефон" name="mother_phone">
    <hr>
    <h3>Отец</h3>
<h4>18. Фамилия</h4>
    <textarea required placeholder="Фамилия" name="father_surname" cols="40" rows="2"></textarea>
 <h4>19. Имя</h4>
    <textarea required placeholder="Имя" name="father_name" cols="40" rows="2"></textarea>
 <h4>20. Отчество</h4>
    <textarea required placeholder="Отчество" name="father_patronymic" cols="40" rows="2"></textarea>
 <h4>21. Место работы</h4>
    <textarea placeholder="Место работы" name="father_job" cols="40" rows="2"></textarea>
 <h4>22. Должность</h4>
    <textarea placeholder="Должность" name="father_job_post" cols="40" rows="2"></textarea>

 <h4>23. Номер телефона</h4>
    <input type="tel" placeholder="Телефон" name="father_phone">
    <hr>
    <h1>Сведения о Вашей успеваемости</h1>
    <hr>
    <h3>В данном разделе вносятся сведения об успеваемости абитуриента</h3>
 <h4>24. Средний балл аттестата</h4>
    <input type="number" step="0.01" placeholder="Средний балл аттестата" name="mark_averange">
  <h4>25. Итоговая оценка по математике</h4>
    <input type="number" placeholder="Итоговая оценка по математике" name="mark_math">
  <h4>26. Итоговая оценка по русскому языку</h4>
 <input type="number" placeholder="Итоговая оценка по русскому языку" name="mark_rus">
  <h4>27. Итоговая оценка по физике</h4>
    <input type="number" placeholder="Итоговая оценка по физике" name="mark_physics">
  <h4>28. Итоговая оценка по информатике</h4>
    <input type="number" placeholder="Итоговая оценка по информатике" name="mark_informatics">
  <h4>29. Итоговая оценка по обществознанию</h4>
    <input type="number" placeholder="Итоговая оценка по обществознанию" name="mark_social_science">
  <h4>30. Сведения о Ваших достижениях в интеллектуальной, творческой, спортивной и иной деятельности за последние 2 года</h4>
    <textarea placeholder="Сведения о Ваших достижениях за последние 2 года" name="progress" cols="60" rows="5"></textarea>
  <h4>31. Состояли ли Вы на внутришкольном учёте?</h4>
    <input list="control" placeholder="Состояли ли Вы на внутришкольном учёте?" name="control">
    <datalist id="control">
    <option>Да</option>
    <option>Нет</option>
    </datalist>
  <h4>32. По какой причине Вы состояли на внутришкольном учете?</h4>
    <textarea placeholder="По какой причине Вы состояли на внутришкольном учете?" name="control_reason" cols="40" rows="2"></textarea>
    <hr>
    <h1>В чём Вы сможете проявить себя?</h1>
    <hr>
 <h4>33. В чём Вы сможете проявить себя?</h4>
    <textarea required placeholder="В чём Вы сможете проявить себя?" name="participation" cols="60" rows="5"></textarea>
    <hr>
    <h1>Прочие сведения</h1>
    <hr>

    <h3>В данном разделе вносится информация об изучаемом иностранном языке(основном),о пройденных подготовительных курсах в КОГОАУ ВТЛ, наличии сертификата ПФДО и т.д.</h3>
  <h4>34. Иностранный язык</h4>
 .<select name="foreign_language">
    <option>Английский</option>
    <option>Немецкий</option>
    <option>Французский</option>
   </select>
  <h4>35. Курсы по математике</h4>
    .<select type="text"  name="course_vtl_math">
        <option>Да</option>
        <option>Нет</option>
       </select>
  <h4>36. Курсы по физике</h4>
    .<select type="text"  name="course_vtl_physics">
        <option>Да</option>
        <option>Нет</option>
       </select>
  <h4>37. Курсы по информатике</h4>
    .<select type="text" name="course_vtl_informatics">
        <option>Да</option>
        <option>Нет</option>
       </select>
  <h4>38. Сертификат ПФДО</h4>
    <textarea placeholder="Сертификат ПФДО" name="pfdo_sert" cols="40" rows="1"></textarea>

  <h4>39. Какую пользу я могу принести Вятскому техническому лицею, в том числе себе?</h4>
    <textarea name="ank1" placeholder = "Какую пользу я могу принести Вятскому техническому лицею, в том числе себе?" cols="60" rows="5"></textarea>
     <hr>
    <h1>Закончите фразу</h1>
     <hr>
    <h4>40. ХОРОШАЯ ЖИЗНЬ в моём понимании:</h4>
    <textarea  name="ank2" cols="40" rows="1"></textarea>
    <h4>41.  СЕМЬЯ для меня:</h4>
    <textarea  name="ank3" cols="40" rows="1"></textarea>
    <h4>42. ЧЕСТЬ И ДОСТОИНСТВО:</h4>
    <textarea  name="ank4" cols="40" rows="1"></textarea>
    <h4>43. Я горжусь собой, потому что</h4>
    <textarea  name="ank5" cols="40" rows="1"></textarea>
    <h4>44. Что я  (моя семья)  жду  от лицея:</h4>
    <textarea  name="ank6" cols="40" rows="1"></textarea>


 <hr>
    Я подтверждаю, что все сведения в анкете указаны верно
    <input type="checkbox"  name="correct">
 <hr>
    Согласие на обработку персональных данных
    <input type="checkbox"  name="agreement">
    <hr>
    <input type="submit" value="Добавить запись">
</form>

</body>
</html>


