{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Печать анкеты</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>

<h1>Печать анкеты</h1>
<div id ="menu-home">
    <a href="/todo">Вернуться к общему списку</a>
</div>
<hr>

{% for i in all_items %}
{{i.gender}}
{{i.birthdate}}
{{i.phone}}
{{i.email}}
{{i.sity}}
{{i.street}}
{{i.house}}
{{i.housing}}
{{i.flat}}
{{i.mother_surname}}
{{i.mother_name}}

{{i.mother_patronymic}}
{{i.mother_job}}
{{i.mother_job_post}}
{{i.mother_phone}}
{{i.father_surname}}
{{i.father_name}}

{{i.father_patronymic}}
{{i.father_job}}
{{i.father_job_post}}
{{i.father_phone}}
{{i.mark_math}}
{{i.mark_rus}}
{{i.mark_physics}}
{{i.mark_informatics}}
{{i.mark_social_science}}
{{i.progress}}
{{i.control}}
{{i.control_reason}}
{{i.participation}}
{{i.course_vtl_math}}
{{i.course_vtl_physics}}
{{i.course_vtl_informatics}}
{{i.pfdo_sert}}
{{i.correct}}
{{i.agreement}}

{% endfor %}
{{ request.get_full_path }}
</body>
</html>
