{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предварительный просмотр</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>

    <a href="/todo"><font color="#000000">Вернуться к общему списку</a>


    <a href="/search"><font color="#000000">Вернуться к списку анкет</a>

<p>

<h3>АНКЕТА КАНДИДАТА НА ОБУЧЕНИЕ В КОГОАУ ВТЛ</h3></p>

<p><b>1. Основные сведения:</b>
   <br> Фамилия: {{ q1 }}
   <br> Имя: {{ q2 }}
   <br> Отчество: {{ q3 }}
   <br> Пол: {{ q4 }}
   <br> Дата рождения: {{ q5 }}</p>
<p><b>2. Возможность общения с Вами:</b>
   <br> Телефон: {{ q7 }}
   <br> E-mail: {{ q8 }}</p>
<p><b>3. Сведения о Вашей успеваемости:</b>
   <br> Cредний бал аттестата за 9 класс: {{ q24 }}
   <br> Итоговая оценка по математике: {{ q25 }}
   <br> Итоговая оценка по русскому языку: {{ q26 }}
   <br>Итоговая оценка по физике: {{ q27 }}
   <br> Итоговая оценка по информатике: {{ q28 }}
   <br> Итоговая оценка по обществознанию: {{ q29 }}
   <br>Номер сертификата ПФДО: {{ q38 }}</p>

<p><b>4. Сведения о Ваших ДОСТИЖЕНИЯХ в интеллектуальной, творческой, спортивной и иной
    деятельности за последние 2 года:</b>

    <br>{{ q30 }}</p>
<p><b>5. Вы состояли на внутришкольном учете?: {{ q31 }}</b>
    <br>Причина: {{ q32 }}</p>
<p><b>6.  Какую пользу я могу принести Вятскому техническому лицею, в том числе себе?</b>
<br>{{ q41 }}</p>

<p><b>7. Закончите фразу:</b></p>
   <p> а) ХОРОШАЯ ЖИЗНЬ в моём понимании:
<br>{{ q42 }}</p>


   <p> б) СЕМЬЯ для меня:
    <br>{{ q43 }}</p>
    <p>в) ЧЕСТЬ И ДОСТОИНСТВО:
<br>{{ q44 }}</p>
    <p>г) Я горжусь собой, потому что:
<br>{{ q45 }}</p>
   <p> д) Что я  (моя семья)  жду  от лицея:
<br>{{ q46 }}</p>
<p></p>
<p>Я подтверждаю, что все сведения, указанные мною в анкете, правдивы.</p>
<p></p>
<p>«_____» _____________2022 г.         Подпись: ________________</p>












</body>
</html>
