{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предварительный просмотр</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>

    <a href="/todo"><font color="#000000">Вернуться к общему списку</a>


    <a href="/search"><font color="#000000">Вернуться к списку анкет</a>

<p>

<h1>Предварительный просмотр</h1></p>

<p>Анкета абитуриента:</p>
Фамилия: {{ q1 }} Имя: {{ q2 }} Отчество: {{ q3 }}

{{ q4 }}
{{ q5 }}
{{ q6 }}
{{ q7 }}
{{ q8 }}
{{ q91 }}{{ q92 }}{{ q93 }}{{ q94 }}{{ q95 }}
{{ q10 }}
{{ q11 }}
{{ q12 }}
{{ q13 }}
{{ q14 }}
{{ q15 }}
{{ q16 }}
{{ q17 }}
{{ q18 }}
{{ q19 }}
{{ q20 }}
{{ q21 }}
{{ q22 }}
{{ q23 }}
{{ q24 }}
{{ q25 }}
{{ q26 }}
{{ q27 }}
{{ q28 }}
{{ q29 }}
{{ q30 }}
{{ q31 }}
{{ q32 }}
{{ q33 }}
{{ q34 }}
{{ q35 }}
{{ q36 }}
{{ q37 }}
{{ q38 }}
{{ q39 }}
{{ q40 }}











</body>
</html>
