#menu {
    text-align: center;
    margin: 5px;
    float: left;
    background-color: #0693cd;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 200px
}

#menu-home {
    text-align: center;
    margin: 5px;
    background-color: #0693cd;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 200px
}

#text {
    font: bold 100% serif;
    text-align:left;

}

a {
    text-decoration: none;
    font-size:16px;
    font-weight: bold;
    color: #fff;
}

table {

    width:100%;
    padding: 4px;
    word-wrap: normal;
    /*background-color:#ccc;*/
    counter-reset: schetchik;

}
table thead {
  background-color: #0693cd;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size:16px;
  font-weight: bold;
  line-height: 1.4;
  padding: 10px;

}

table td {

    border-bottom: 3px solid #ccc;
}


table tbody tr:before {
    counter-increment: schetchik;
    content: counter(schetchik);
    border-bottom: 3px solid #ccc;
}

input[type=submit] {
    border: 1px solid;
    color: #fff;
    font-size:12px;
    font-weight: bold;
    line-height: 1.4;
    cursor: pointer;
    background-color: #0693cd;

    
}

input[type=text] {
    width: 400px
}
input[type=text1] {
    width: 600px;
    height:150px;

}
input[type=image] {
    width: 20px;
    height:20px;
    float:none;
    padding:0 0 0 0;
    margin: 5px 5px;

}



select{

    float:left;
    margin: 5px 0px;

}

textarea{

    margin: 5px 0px;
}
